name: CI

on:
  push:
    branches:
      - main
    paths:
          - 'src/**'
          - '.github/workflows/Huawei.yml'
  workflow_dispatch:    
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: amramer2000
            password: dckr_pat_fi1-ncItcBM8OYBIhWTGcYRu660

        - uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
        - uses: actions-rs/cargo@v1
          with:
            command: build
            args: --release 

        - name: Build and push Docker image
          uses: docker/build-push-action@v4
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: amramer2000/vprofile-app:latest        
        